<div class="container mt-5">
    <div class="card p-4 shadow col-md-5 mx-auto">
        <h3 class="text-center mb-4">Créer un compte</h3>

        <form method="post">
            <input class="form-control mb-3" name="nom" placeholder="Nom" />
            <input class="form-control mb-3" name="telephone" placeholder="Téléphone" />
            <input class="form-control mb-3" name="email" placeholder="Email" />

            <button class="btn btn-brasil w-100">S’inscrire</button>
        </form>
    </div>
</div>