@model List<string>

<div class="container mt-5">
    <h2>🛒 Votre Panier</h2>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">
            @TempData["Message"]
        </div>
    }

    @if (Model.Count == 0)
    {
        <p>Panier vide</p>
    }
    else
    {
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">@item</li>
            }
        </ul>

        <a href="/Commande/Paiement" class="btn btn-brasil mt-3">
            Payer
        </a>

        <a href="/Commande/ChoixTypeCommande" class="btn btn-outline-primary mt-3">
            Choisir le type de commande
        </a>
    }
</div>